# Node
node_modules/
.npm/
.bun/
.pnpm-store/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cloudflared logs
cloudflared*.log

# Env
.env
.env.*

# Build output
dist/
.vite/
.cache/

# Editors
.vscode/
.idea/
.DS_Store

# Netlify
.netlify/

# Others
bun.lockb
